</head>
<body>
  <nav>
    <i class='fas fa-fighter-jet fa-pulse fa-spin fa-2x'></i>
    <!-- <i class='fas fa-fighter-jet'></i> -->
    <!-- <i class='fas fa-globe'>fa-globe</i> -->
    <!-- <i class='fas fa-mountain fa-spin fa-3x'></i> -->
		<!-- <i class="fas fa-film fa-2x"></i>  
    <i class="fa-duotone fa-avocado"></i> -->
    <a 
    href="/meals/new"
    <%-title === 'Add meal' ?'class= "active' : '' %>
    >
    Add MEAL
  </a>
    <a 
      href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>
    >
    ADD FLIGHT
    </a>
    <a 
    href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>
  >
  ALL FLIGHTS
  </a>

  </nav>